<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/table_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/table_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.RestaurantTableBooking"
        tools:targetApi="31">
        <activity
            android:name=".CustomerDataActivity"
            android:exported="false" />
        <activity
            android:name=".RestaurantDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".LocateRestaurantActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".MyBookingsActivity"
            android:exported="false" />
        <activity
            android:name=".BookTableActivity"
            android:exported="false" />
        <activity
            android:name=".BookingHomeActivity"
            android:exported="false" />
        <activity
            android:name=".SIgnUpActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.RestaurantTableBooking">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBbjh-tqqnt6bChHRv8ZI9wY0R9w5Z_MSI" />
    </application>

</manifest>